* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background-color: #2E2E2E
}

main h2 {
    color: #fff;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 15px;
}

main h4 {
    margin-bottom: 30px;
}
main h4 > a {
    text-decoration: none;
    color: #fff;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}

/* Menu */
section#menu {
    background: #2E2E2E;
}

    section#menu::after {
        content: '';
        display: table;
        clear: both;
    }

.logo {
    float: left;
    width: 190px;
    height: 85px;
    padding: 10px 0;
}

.menu {
    width: 80%;
    margin: 0 auto;
}

nav {
    float: right;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 5px;
        position: relative;
    }

    nav a {
        color: #a0a0a0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

        nav a:hover {
            color: #757575;
        }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background-color: #b3b3b3;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 150ms;
        }

        nav a:hover::before {
            width: 100%;
        }

/* Buscador */

input {
    width: 53vw;
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    font-weight: 600;
    margin-bottom: 30px
}

.filtro {
    display: none;
}

/* Ir arriba */

#scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #6f3c96;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

    #scroll span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -12px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #ffffff
    }

    #scroll:hover {
        background-color: #512c6d;
        opacity: 1;
    }

/* Header */

header {
    width: 100%;
    height: 600px;
    background: url(../media/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

    nav > a {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
    }

        nav > a:hover {
            text-decoration: underline;
        }

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Galeria */


.portafolio {
    background: #f2f2f2;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}


    .imagen-port > a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .imagen-port > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(111, 60, 150, 0.75);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .hover-galeria img {
        width: 50px;
    }

    .hover-galeria p {
        color: #fff;
        font-size: 14px
    }

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}


/* footer */

footer {
    background: #2E2E2E;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 50px;
    border-top: 1px solid #ccc;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

    .content-foo h4 {
        color: #fff;
        border-bottom: 3px solid #af20d3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content-foo p {
        color: #ccc;
    }

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/* Chagelog */

.changelog-details {
    color: #fff;
    margin-bottom: 15px
}

    .changelog-details > summary {
        font-size: 26px;
    }

    .changelog-details > p {
        margin-top: 15px;
    }