* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'open sans';
	background-color: #2E2E2E
}

.not_allowed {
	margin: 0 auto;
	display: none;
	color: rgb(230, 19, 19);
	width: 400px;
	border-radius: 15px;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
	color: lightgray;
	margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 0px;
  }
  
  .form-error {
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 15px;
	font-size: 12px;
	color:rgb(230, 19, 19);

  }

  label {
    display: block;
    font-weight: bold;
	color: lightgray;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #6F3C97;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }

.login_empty {
	margin-left: 30px;
	display: none;
	background-color: rgb(139, 32, 32);
	border-radius: 7px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 300px;
}

.login_empty > label {
	padding-left: 10px;
	padding-top: 15px;
	margin-right: 10px;
	font-size: 11.5px;
	color:lightgray;
}

.login_error {
	display: none;
	background-color: rgb(139, 32, 32);
	border-radius: 7px;
	margin-bottom: 10px;
	width: 300px;
}

.login_error > label {
	padding-left: 10px;
	padding-top: 15px;
	margin-right: 10px;
	font-size: 11.5px;
	color:lightgray;
}



.contenedor {
	padding: 60px 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

.titulo {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}

/* Menu */
section#menu {
    background: #2E2E2E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}

    section#menu::after {
        content: '';
        display: table;
        clear: both;
    }

.logo {
    float: left;
    width: 190px;
    height: 85px;
    padding: 10px 0;
}

.menu {
    width: 80%;
    margin: 0 auto;
}

nav {
    float: right;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 40px;
        padding-top: 5px;
        position: relative;
    }

    nav a {
        color: #a0a0a0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

        nav a:hover {
            color: #757575;
        }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background-color: #b3b3b3;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 150ms;
        }

        nav a:hover::before {
            width: 100%;
        }

        .menu-toggle {
            display: none;
            position: fixed;
			top: 18px;
            right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #6f3c96;
            border: 2px solid #4b2866;
            padding: 0;
            cursor: pointer;
        }

.menu-toggle img {
    width: 30px;
    height: auto;
}

.menu-ov-nav {
    float: none;
}

.menu-ov-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu-ov-nav li {
        display: block;
        margin-top: 15px;
        position: relative;
        text-align: center;
    }

    .menu-ov-nav a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

    .menu-ov-nav a:hover {
            color: #a5a5a5;
        }

        .menu-ov-nav a::before {
            content: '';
            display: block;
            height: 5px;
            background-color: #b3b3b3;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 150ms;
        }

        .menu-ov-nav a:hover::before {
            width: 100%;
        }

    @media screen and (max-width: 950px) {
        .menu-toggle {
            display: block;
        }
        
        .menu > nav {
            display: none;
        }
    }

/* Overlay */


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .contenido-overlay {
    background-color: #6f3c96;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    color:#e0e0e0;
    border: 3px solid #4b2866;
    text-shadow: 1px 1px 0 #4b2866, -1px -1px 0 #4b2866, 1px -1px 0 #4b2866, -1px 1px 0 #4b2866;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .menu-overlay > .contenido-overlay {
    background-color: #6f3c96;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    color:#e0e0e0;
    border: 3px solid #4b2866;
    text-shadow: 1px 1px 0 #4b2866, -1px -1px 0 #4b2866, 1px -1px 0 #4b2866, -1px 1px 0 #4b2866;
  }

  .menu-ov-logo {
    width: 190px;
    height: 85px;
    padding: 10px 0;
}

.cerrar-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Header */

header {
	width: 100%;
	height: 600px;
	background: url(../media/portada.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

nav {
	text-align: right;
	padding: 30px 50px 0 0;
}

	nav > a {
		color: #fff;
		font-weight: 300;
		text-decoration: none;
		margin-right: 10px;
	}

		nav > a:hover {
			text-decoration: underline;
		}

header .textos-header {
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.textos-header h1 {
	font-size: 50px;
	color: #fff;
}

.textos-header h2 {
	font-size: 30px;
	font-weight: 300;
	color: #fff;
}

.wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* En esta web */

main .en-esta-web {
	padding: 30px 0 60px 0;
}

.contenedor-en-esta-web {
	display: flex;
	justify-content: space-evenly;
	color: #fff;
}

.imagen-about-us {
	width: 48%;
}

.sobre-nosotros .contenido-textos {
	width: 48%;
	color: #fff;
}

.contenido-textos h3 {
	margin-bottom: 15px;
	color: #fff;
}

	.contenido-textos h3 span {
		background: #6F3C97;
		color: #fff;
		border-radius: 50%;
		display: inline-block;
		text-align: center;
		width: 30px;
		height: 30px;
		padding: 2px;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
		margin-right: 5px;
	}

.contenido-textos p {
	padding: 0px 0px 30px 15px;
	font-weight: 300;
	text-align: justify;
}


/* footer */

footer {
	background: #2E2E2E;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer {
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-top: 50px;
	border-top: 1px solid #ccc;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

.content-foo {
	text-align: center;
}

	.content-foo h4 {
		color: #fff;
		border-bottom: 3px solid #af20d3;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}

	.content-foo p {
		color: #ccc;
	}

.titulo-final {
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
	color: #9e9797;
}


/* Cards */

.cards {
	display: flex;
	justify-content: space-evenly;
}

	.cards .card {
		background: #6F3C97;
		display: flex;
		width: 46%;
		height: 200px;
		align-items: center;
		justify-content: space-evenly;
		border-radius: 5px;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
	}

		.cards .card img {
			width: 150px;
			height: 150px;
			object-fit: cover;
			border: 3px solid #fff;
			border-radius: 50%;
			display: block;
		}

		.cards .card > .contenido-texto-card {
			width: 60%;
			color: #fff;
		}

			.cards .card > .contenido-texto-card p {
				font-weight: 300;
				padding-top: 5px;
			}






/* Login */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.btn {
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #e6e6e6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

	.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
		background-color: #e6e6e6;
	}

.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

	.btn-primary.active {
		color: rgba(255, 255, 255, 0.75);
	}

.btn-primary {
	background-color: #6F3C97;
	background-image: -moz-linear-gradient(top, #6F3C97, #6F3C97);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6F3C97), to(#6F3C97));
	background-image: -webkit-linear-gradient(top, #6F3C97, #6F3C97);
	background-image: -o-linear-gradient(top, #6F3C97, #6F3C97);
	background-image: linear-gradient(top, #6F3C97, #6F3C97);
	background-repeat: repeat-x;
	border: 1px solid #562e75;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

	.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
		filter: none;
		background-color: #5a2e75;
	}

.btn-block {
	width: 100%;
	display: block;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #2E2E2E;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 300px;
}


	.login h1 {
		color: #fff;
		text-shadow: 0 0 10px rgba(0,0,0,0.3);
		letter-spacing: 1px;
		text-align: center;
		padding: 25px 0;
		margin-bottom: 50px;
	}

input {
	width: 100%;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

	input:focus {
		box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
	}